<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a routerLink="students" routerLinkActice="active" class="nav-link">Student List</a>
            </li>
            <li class="nav-item">
                <a routerLink="create-student" routerLinkActice="active" class="nav-link">Add Student</a>
            </li>
            <li class="nav-item">
                <a routerLink="departments" routerLinkActice="active" class="nav-link">Department List</a>
            </li>
            <li class="nav-item">
                <a routerLink="create-department" routerLinkActice="active" class="nav-link">Add Department</a>
            </li>
            <li class="nav-item">
                <a routerLink="professors" routerLinkActice="active" class="nav-link">Professors List</a>
            </li>
            <li class="nav-item">
                <a routerLink="create-professor" routerLinkActice="active" class="nav-link">Add Professor</a>
            </li>
        </ul>
    </nav>
</header>

<h1 class="text-center" > College Management System </h1><br>
<div class="container">
    <router-outlet></router-outlet>
</div>




















<!--<footer class="footer" >
    <div class="container">
        <span>All Rights reserved 2023 edubridge</span>
    </div>
</footer> -->

<!-- <br><br>
<div class="container">
<app-department-list></app-department-list>
</div> -->